# TASK 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('loan.csv')

In [3]:
data.head()

,customer_id,disbursed_amount,interest,market,employment,time_employed,householder,income,date_issued,target,loan_purpose,number_open_accounts,date_last_payment,number_credit_lines_12
0,0,23201.5,15.4840,C,Teacher,<=5 years,RENT,84600.0,2013-06-11,0,Debt consolidation,4.0,2016-01-14,NaN
1,1,7425.0,11.2032,B,Accountant,<=5 years,OWNER,102000.0,2014-05-08,0,Car purchase,13.0,2016-01-25,NaN
2,2,11150.0,8.5100,A,Statistician,<=5 years,RENT,69840.0,2013-10-26,0,Debt consolidation,8.0,2014-09-26,NaN
3,3,7600.0,5.8656,A,Other,<=5 years,RENT,100386.0,2015-08-20,0,Debt consolidation,20.0,2016-01-26,NaN
4,4,31960.0,18.7392,E,Bus driver,>5 years,RENT,95040.0,2014-07-22,0,Debt consolidation,14.0,2016-01-11,NaN

In [4]:
# task 1
mean1 = data['disbursed_amount'].mean()
mean2 = data['interest'].mean()

In [5]:
mean1

14132.2755

In [6]:
mean2

12.678819440000039

In [7]:
# task 2
# number of variables with int64 datatype i.e discrete values
data.select_dtypes(include=['int64']).shape[1]
# variables are :- customer_id , target
# their count is 2

2

In [8]:
# task 3
data['customer_id'].unique()

array([   0,    1,    2, ..., 9997, 9998, 9999], dtype=int64)

In [9]:
data['target'].unique()

array([0, 1], dtype=int64)

In [10]:
# task 4
data['date_issued_dt'] = pd.to_datetime(data['date_issued'])

In [11]:
data['month'] = data['date_issued_dt'].dt.month

In [12]:
data['month'].value_counts()
# in the month of "October" the number of loan issued is the maximum and equals to 1277

10    1277
7     1066
11    1017
12     882
8      852
4      816
5      749
9      734
6      700
1      700
3      623
2      584
Name: month, dtype: int64

In [13]:
# task 5
x = data.query('employment == "Teacher" and householder == "OWNER"')
x

,customer_id,disbursed_amount,interest,market,employment,time_employed,householder,income,date_issued,target,loan_purpose,number_open_accounts,date_last_payment,number_credit_lines_12,date_issued_dt,month
71,71,10230.00,7.8900,A,Teacher,>5 years,OWNER,93840.0,2015-02-21,0,Debt consolidation,12.0,2015-04-15,NaN,2015-02-21,2
85,85,3713.00,14.3068,C,Teacher,>5 years,OWNER,19950.0,2013-07-20,0,Debt consolidation,2.0,2015-06-07,NaN,2013-07-20,7
171,171,19646.25,14.3904,C,Teacher,<=5 years,OWNER,44650.0,2014-09-14,0,Home improvements,21.0,2016-01-10,NaN,2014-09-14,9
672,672,15200.00,10.8801,B,Teacher,>5 years,OWNER,82450.0,2015-11-16,0,Debt consolidation,17.0,2016-01-27,NaN,2015-11-16,11
1024,1024,12144.00,14.2008,C,Teacher,<=5 years,OWNER,66240.0,2014-04-26,0,Debt consolidation,9.0,2015-03-15,NaN,2014-04-26,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,9154,9900.00,13.3855,B,Teacher,>5 years,OWNER,40000.0,2012-12-14,0,Debt consolidation,6.0,2013-02-20,NaN,2012-12-14,12
9172,9172,22080.00,23.6509,E,Teacher,>5 years,OWNER,145500.0,2014-08-05,0,Other,24.0,2016-01-06,NaN,2014-08-05,8
9433,9433,4750.00,10.4405,B,Teacher,<=5 years,OWNER,24440.0,2015-07-12,0,Debt consolidation,5.0,2016-01-22,NaN,2015-07-12,7
9684,9684,6650.00,7.4955,A,Teacher,>5 years,OWNER,79200.0,2015-04-23,0,Debt consolidation,11.0,2015-12-06,NaN,2015-04-23,4
9769,9769,16005.00,12.5631,C,Teacher,>5 years,OWNER,70560.0,2015-09-22,0,Debt consolidation,12.0,2016-01-20,NaN,2015-09-22,9

In [14]:
x.shape[0]
# 69 teachers are owners

69

In [15]:
# task 6
data.query('householder == "RENT"')['employment'].value_counts()
# "Civil Servant" and "Teacher" are the employers who mostly rents

Civil Servant         371
Teacher               371
Bus driver            360
Nurse                 358
Secretary             355
Dentist               355
Other                 353
Statistician          342
Accountant            322
Taxi driver           316
Software developer    315
Name: employment, dtype: int64